
html{
    font-size: 62.5%; /** resete para rems - 62.5%=10px**/
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    color: #fff;
}

/*sistema de tamaños que son directamente proporcionales*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}
.contenedor{
    width: 100%;
    min-height: 100vh;/*altura minima*/
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6rem 4rem 100vh auto ; /*la pagina tendra 2 filas con las medidas anteriores*/
    grid-template-areas: "header "
                          "filtros "
                          "principal "
                          "pie";
    transition: all .3s ease;
}

.header{
    background-color: black;
    color: white;
    grid-area: header;
    padding: 0px 20px;
    display: grid;
    grid-template-columns: auto 1fr auto auto;/*1fr significa que el elemento ocupa todo el espacio que necesita y los auto se acomodan a lo que deje por decirlo asi*/
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;/*espaceado de 20px entre las divisiones del grid*/
    grid-template-areas: "logo busqueda iniciar registro";
}
.header .elements{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filtros{
    grid-area: filtros;
    background-color: khaki;
}
.principal{
    grid-area: principal;
    background-color: indigo;
}
.pie{
    grid-area: pie;
    background-color: #2699FB;
}
.redes{
    grid-area: redes;
    
}
