                            /**  ----------       ESTILOS -> GENERALES    ------------  **/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; /** resete para rems - 62.5%=10px**/
}
body{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    text-transform: capitalize;
}
i{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}

/*sistema de tamaños que son directamente proporcionales*/
h1{
    font-size: 3.8rem;

}
h2{
    font-size: 3.4rem;

}
h3{
    font-size: 3rem;

}
h4{
    font-size: 2.6rem;
    
}


.contenedor{
    width: 100%;
    min-height: 100vh;/*altura minima de toda la pantalla*/
    margin: 0 auto;
    display: grid;
    grid-template-rows: 6rem 4rem  100rem 5rem ; 
    grid-template-areas: "header"
                          "filtros"
                          "principal"
                          "pie";
    transition: all .3s ease;
}

                            /**  ----------     ESTILOS ->  ENCABEZADO PRINCIPAL   ------------  **/

.header{
    background-color: #2699FB;
    color: white;
    font-size: 1.6rem;
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr auto  auto ;/*1fr significa que el elemento ocupa todo el espacio que necesita y los auto se acomodan a lo que deje por decirlo asi*/
    align-items: center;
    justify-content: space-between;
    grid-gap: 5px;/*espaceado de 20px entre las divisiones del grid*/
    grid-template-areas: "logo busqueda  iconos registro salir";
}

.header .navegacion{
    grid-area: iconos;
    padding: 0rem 2rem;
    display: grid;
    grid-template-columns: auto 1fr;/*1fr significa que el elemento ocupa todo el espacio que necesita y los auto se acomodan a lo que deje por decirlo asi*/
    grid-gap: 2.5rem;/*espaceado de 20px entre las divisiones del grid*/
    grid-template-areas: "chat noti name";
}
.header .navegacion a{
    font-size: 1.9rem;
}
.header .navegacion .chat{
    grid-area: chat;
}
.header  .contenedor-logo{
    grid-area: logo;
    padding: 0rem 1rem;
}
.header .navegacion .notificaciones{
   grid-area:noti;
}
.header .navegacion .nombre{
    grid-area:name;
}
.header .navegacion .fas{
    padding: 0rem 1rem;
}
.header .navegacion .cerrar{
    grid-area:salir;
    background-color:#7FC4FD ;
    font-size: 1.5rem;
}
.header .barra-busqueda{
    grid-area: busqueda;
    display: flex;/*centrar elementos */
    align-items: center;
    justify-content: center;
}
.header .salir{
    grid-area: salir;
    width: 100%;
    padding: 2rem;
    transition: background-color 0.5s;
    transform-origin: left;
}
.header .salir a{
    font-size: 2rem;
}

.header .salir:hover{
    cursor: pointer;
    background-color: #7FC4FD;

}

.header .registrate{
    grid-area: registro;
}


                    /**  ----------       ESTILOS -> FILTROS DE LOS PRODUCTOS    ------------  **/
.filtros{
    grid-area: filtros;
    background-color: #7FC4FD;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.filtros .nav a{
    margin-right: 2rem;
    font-size: 1.5rem;
}
.filtros .nav a:hover{
    color:#2699FB ;
}

/*.filtros.cabecera{
    display: flex;
    justify-content: space-between;
}
.filtros .menu{
    display: flex;
    align-items:center;
    font-size:2.7rem;
    padding:1rem;
}
.filtros .menu i{
    margin-right:1rem;
}

.filtros .cart{
    height: 100%;
    font-size: 1.4rem;
    margin: 0;
}*/

                    /**  ----------       ESTILOS -> CONTENIDO PRINCIPAL DE LA PAGINA    ------------  **/

.principal{
    grid-area: principal;
}

.principal .cabeza-main{
    grid-area: cabezamain;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.principal .calzado{
    padding: 0rem 1rem;
    color: #2699FB;
}

                        /**  ----------       ESTILOS -> CONTENEDOR DE PRODUCTOS    ------------  **/

.principal .container-productos{
    padding:1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

                        /**  ----------       ESTILOS -> DESCRIPCION DEL PRODUCTO    ------------  **/
.principal .container-productos .producto{
    max-width: 34rem;
    height: 42rem;
    box-shadow: -1px 3px 10px 0px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows:20rem 13rem auto;
    grid-template-areas: "imagen"
                        "descripcion"
                        "botones";
    padding: 1rem;
    margin-right:1rem;
}                   
            /**BOTONES**/

.principal .container-productos .producto .botones{
    grid-area: botones;
    display: flex;
    align-items: center;
    justify-content: left;
}
.principal .container-productos .producto .inp{
    width: 100%;
    height:25px;
    padding: 10px;

}
.principal .container-productos .producto .visible{
    display: flex;
    align-items:center;
    padding-top:1rem;
}
.principal .container-productos .producto .visible .txt{
    padding-right: 1rem;
} 
        /*  BOTON AGREGAR AL CARRITO  */

.btn-carrito{
    background-color: #35b446;
    display: inline-block;
    padding: 1rem 0px;
    text-align: center;
    width: 5rem;
    margin-right: 10px;
    transition: background-color 0.5s;
    transform-origin: left;
}
.btn-carrito.v1{
    width: 15%;
}

.btn-carrito:hover{
    background-color: #57d668;

}
.btn-carrito.flecha{
    background-color:#76b8f1;
}
.btn-carrito.flecha:hover{
    background-color:#9dbfdd;
}
.principal .container-productos .btn-carrito.eliminar{
    background-color: #fb2626;
}
.principal .container-productos .btn-carrito.eliminar:hover{
    background-color: #e67575;
}
        /*BOTON SOLICITAR*/
.btn-solicitar{
    background-color: #2699FB;
    display: inline-block;
    padding: 1rem 0px;
    text-align: center;
    width: 27rem;
    transition: background-color 0.5s;
    transform-origin: left;
}
.btn-solicitar.v1{
    width: 80%;
}

.btn-solicitar:hover{
    background-color:#76b8f1 ;
}

            /**IMAGEN DEL PRODUCTO**/
.imagen{
    grid-area: imagen;
    background-color: teal;
}

            /**CARACTERISTICAS Y PRECIO**/
.contenedor-descripcion{
    grid-area:descripcion;
    color: #2699FB;
    height: 100%;
    
}
.contenedor-descripcion h1{
    font-size: 2.8rem;
}

/**  ----------       ESTILOS -> BOTON CARRITO   ------------  **/

.carrito{
    display: inline-block;
    padding: 1rem 2rem;
    text-align: center;
    position: relative;
    text-decoration: none;
    font-size: 30px;
    margin-right: 10px;
    color:#fff ;
    background-color: #2699FB;
    transition: background-color 0.5s;
    transform-origin: left;
}

.carrito:hover{
    border:1px solid #2699FB;
    color: #2699FB;
    background-color: #fff;
}
     
                /**  ----------    ESTILOS -> VISTA PRODUCTO  ------------  **/  

.elementos-producto{
    border: 5px solid #2699FB;
    height: 60rem;
    width: 80rem;
    color: #2699FB;
    margin: 2.5rem auto;
    padding: 2rem;
    display: grid;
    grid-template-rows:10rem 8rem auto 7rem;
    grid-template-areas: "titulos"
                            "files"
                         "contenidos"
                         "botones";
}
.elementos-producto .contenedor-boton{
    grid-area:botones;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-producto{
    width: 110rem;
    height: 65rem;
    margin: 20px auto;
    border: 5px solid #2699FB;
    display: grid;
    grid-template-columns: 45% 55% ;
    grid-template-areas: "img caracteristicas";
}

   /**  ----------       ESTILOS -> SECCION DE FOTO > VISTA_PRODUCTO  ------------  **/  
.contenedor-producto .foto{
    grid-area:img;
    display: grid;
    grid-template-rows: 90% auto;
    grid-template-areas: "slider" 
                        "estrellis";
    
}
.container-producto .foto .slider{
    grid-area: slider;
    height: 100%;
}
.slidesjs-pagination{
    padding: 4rem;
    display: flex;
    align-items:center ;
    justify-content: center;
}
.slidesjs-pagination a{
    margin-right:2rem ;
}

.slidesjs-next{
    float: right;
    padding-right:1.5rem;
}
.slidesjs-previous{
    float: left;
    padding-left: 1.5rem;
}
.slider a{
    color: #096BA7;
}
.container-producto .foto .slider img{
    height: 1000px;
}
.contenedor-producto .foto .puntuaciones .icons p,.icons .flecha{
    color:#2699FB;
}
.contenedor-producto .foto .puntuaciones{
    text-align:center;
    margin: 5px auto;
}
.contenedor-producto .foto .flecha{
    font-size: 3rem;
    cursor: pointer;
}
.contenedor-producto .foto .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
                    /**  ----------   ESTILOS -> SECCION CARACTERISTICAS > VISTA_PRODUCTO   ------------  **/ 
.contenedor-producto .caracteristicas{
    grid-area:caracteristicas;
    display: grid;
    grid-template-rows:8rem auto 8rem;
    grid-template-areas: "nombre"
                         "etc" 
                         "btns";
}
.contenedor-producto .caracteristicas .title{
    grid-area:nombre;
    text-align:center;
    color: #2699FB;
    text-transform: uppercase;
    font-weight: 700;
}
.contenedor-producto .caracteristicas .elecciones{
    color: #000;
    grid-area:etc;
    font-size:3rem ;
}
.contenedor-producto .caracteristicas .elecciones .hijo.general{
    display:flex;
}
.contenedor-producto .caracteristicas .elecciones .later{
    margin-left: 1rem;
    color: #2699FB; 
}
.contenedor-producto .caracteristicas .elecciones .hijo{
    display: flex;
    align-items: center;
}

.contenedor-producto .caracteristicas .elecciones .tallas .listado-tallas{
    width: 20rem;
    height: 3rem;
    margin-left: 1rem;
    padding: 0rem 1rem;

}
.contenedor-producto .caracteristicas .contenedor-botones{
    grid-area:btns;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-producto .caracteristicas .contenedor-botones .btn-solicitar{
    margin-right: 1rem;
}
.contenedor-producto .caracteristicas .unidades{
    display: flex;
}
.contenedor-producto .caracteristicas .unidades input{
    width:5rem;
    text-align:center;
    margin-left:1rem;
    border: none;
    border-bottom:3px solid #2699FB;
}
.contenedor-producto .caracteristicas .hijo{
    margin-bottom:2.7rem;
}
.contenedor-producto .caracteristicas .colores .color{
    display: inline-block;
}
.contenedor-producto .caracteristicas .colores .color.rojo{
    color: #fb2626;
}
.contenedor-producto .caracteristicas .colores .color.verde{
    color: #3ffb26;
}
.contenedor-producto .caracteristicas .colores .color.amarillo{
    color: #e6fb26;
}
                    /**  ----------       ESTILOS -> GESTIONAR PRODUCTO   ------------  **/
.puntuaciones a i{
    color:#2699FB;
}
.puntuaciones a.seleccionado i {
    color: #ffff00;
}

                    /**  ----------       ESTILOS -> GESTIONAR PRODUCTO   ------------  **/

    /*  ESTILOS INPUT TIYPE: FILE > GESTIONAR PRODUCTO   */

input[type="file"]{
    display: none;
}

input[type="file"]:hover{
    border: 3px solid #2699FB ;
}
label i{
    margin-right: .5rem;
}

.elementos-producto .files .sub .box{
    padding:4rem;
}
.elementos-producto .files .sub{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 15rem;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 2rem 2rem;
}


.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
    transition: background-color 0.5s;
    transform-origin: left;
}

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #2699FB ;
     transition: background-color 0.5s;
    transform-origin: left;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color:#76b8f1;
}
        
.elementos-producto .files{
    grid-area: files;
    display: flex;
    align-items: center;
    justify-content: center;
}

/**  ----------       ESTILOS -> CAMPOS DE TEXTO > GESTIONAR PRODUCTO   ------------  **/
        
.elementos-producto .columnas{
    grid-area: contenidos;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elementos-producto .columnas input,select{
    margin-bottom:2rem;
    margin-top: .5rem;
}

.elementos-producto h1{
    text-align:center;
}
.columnas{
    display: grid;
    grid-template-columns: 50% 49%;
    grid-template-areas: "izquierda derecha";
    grid-gap: 20px;
    margin: 0px auto;
}
.columnas .lado-izquierdo{
    grid-area: izquierda;
}
.columnas .lado-derecho{
    grid-area:derecha;
}
.elementos-producto .columnas  .contenedor-general{
   display: grid;
   grid-template-columns: 15rem 15rem;
   grid-template-areas: "izquierda-1 derecha-1";
}
.elementos-producto .columnas .contenedor-general .izquierda{
    grid-area: izquierda-1;
}
.elementos-producto .columnas  .contenedor-general .derecha{
    grid-area: derecha-1;
}
.elementos-producto .columnas  .contenedor-general input{
    width: 10rem;
}
.elementos-producto input[type="text"],input[type="number"],select{
    width: 25rem;
    height: 3.2rem;
    padding: 1.5rem;
}

                /**  ----------       ESTILOS -> VENTANAS EMERGENTES   ------------  **/
.overlay{
    background-color:rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay.activate{
    visibility: visible;
}

.popup{
    background-color: #f8f8f8;
    box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 70rem;
    height: 40rem;
    color:#2699FB ;
}
.popup.carro{
    width: 60rem;
    height: 60rem;
}
.popup.notificaciones{
    width: 60rem;
    height: 60rem;
}

.interno .elementos{
    margin: 3rem auto;
}
.popup.formu{
    height: 50rem;
}

                /**  ----------       ESTILOS -> POP-UP NOTIFICACIONES   ------------  **/


.popup form .pendientes{
    border:3px solid #096BA7;
    padding: 10px;
    width: 100%;
    margin-top:1rem ;
}
                /**  ----------       ESTILOS -> SCROLL DE NOTIFICACIONES   ------------  **/
scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
scroll-container {
    display: block;
    max-width: 80%;
    max-height: 80%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 16px;
}


.interno .elementos .contenedor-inputs input{
    margin: 20px auto;

}
.btn-registro .btn-submit{
    padding: 0 2rem;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background-color: #2699FB;
    cursor: pointer;
    transition: .3s ease all;
    
}
.btn-cerrar-popup{
    font-size: 1.6rem;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #bbbbbb;
    transition: .3s ease all;
    padding: 1rem;
}
.popup .btn-cerrar-popup:hover{
    color:#000;
}
.popup h3{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    /**opacity: ;**/
}
.popup .contenedor-inputs{ 
    margin: 0px auto;
}

.popup .contenedor-inputs input{
    width: 80%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size:18px;
    text-align: center;
    border: 1px solid #bbbbbb;
    display: flex;
    
    
}
.popup .btn-submit{
    margin-bottom: 0.5rem;
    padding: 0 2rem;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background-color: #2699FB;
    cursor: pointer;
    transition: .3s ease all;
}
.popup form .btn-submit:hover{
    background:rgba(38, 153, 251, .5) ;
}

.popup .ir-registro{
    background-color: royalblue;
}
.popup .ingreso{
    background-color: saddlebrown;
}

                /**  ----------       ESTILOS -> PIE DE PAGINA   ------------  **/

.pie{
    grid-area: pie;
    background-color: #2699FB;
    padding: 1rem;
    font-size: 2rem;
    height: 100%;
}
    .pie .redes{
        display: flex;
        justify-content: space-between;
    }
    .pie .redes .fab{
        padding: 0 1rem;
        font-size: 2.5rem;
    }
    .pie .redes .red{
        display: flex;
        align-items: center;
    }
    .pie .redes a{
        color: #fff;

    }
    .puntuaciones .calificacion{
        color: #2699FB;
    }
    
