*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%; /** resete para rems - 62.5%=10px**/
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{

}

/*sistema de tamaños que son directamente proporcionales*/
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}
.contenedor{
    width: 100%;
    min-height: 100vh;/*altura minima*/
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 6rem 4rem 100vh 50px ; /*la pagina tendra 2 filas con las medidas anteriores*/
    grid-template-areas: "header"
                          "filtros"
                          "principal"
                          "pie";
    transition: all .3s ease;
}

.header{
    background-color: #2699FB;
    color: white;
    grid-area: header;
    padding: 0rem 2rem;
    display: grid;
    grid-template-columns: auto 1fr auto 40px;/*1fr significa que el elemento ocupa todo el espacio que necesita y los auto se acomodan a lo que deje por decirlo asi*/
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;/*espaceado de 20px entre las divisiones del grid*/
    grid-template-areas: "logo busqueda iconos entrar";
}
.header .elements{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header  .navegacion{
    grid-area: iconos;
}
.header  .contenedor-logo{
    grid-area: logo;
}
.header .barra-busqueda{
    grid-area: busqueda;
    display: flex;/*centrar elementos */
    align-items: center;
    justify-content: center;
    
}
.header .cerrar{
    grid-area: entrar;
    background-color:#7FC4FD ;
    padding: 0px 10px;
}
.filtros{
    grid-area: filtros;
    background-color: #7FC4FD;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filtros .nav a{
    margin-right: 2rem;
    font-size: 1.6rem;
}
.principal{
    grid-area: principal;
}
.pie{
    grid-area: pie;
    background-color: #2699FB;
    padding: 1rem;
}
.pie .redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.pie .redes .fab{
    padding: 0rem 1rem;
    font-size: 2.5rem;
}
.pie .redes .red{
    display: flex;
    align-items: center;
}
.pie .redes a{
    color: #fff;

}


